.product_card{
    width: 100%;
    min-height: 777px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pc_btn{
    font-size: 40px;
    min-width: 47px;
    min-height: 47px;
    background:  rgba(42, 42, 42, 0.15);
    border: none;
    color: black;
    &:hover{
        color: #F16D7F;
    }
    &:active{
        color: white;
        background-color: #F16D7F;
    }
}
.main_content{
    margin-bottom: 78px;
}
.benefits{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 128px;
}
.ben_title{
    text-align: center;
    width: 100%;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-transform: uppercase;
    margin-bottom: 27px;
}
.ben_subtitle{
    text-align: center;
    width: 100%;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    text-transform: uppercase;
    margin-bottom: 48px;
}
.ben_txt{
    text-align: center;
    max-width: 555px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    margin-bottom: 32px;
}
.ben_price{
    text-align: center;
    width: 100%;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
    text-transform: uppercase;
    margin-bottom: 130px;
}
.ben_sort{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 384px 48px 384px;
}
@media (max-width: 768px){
    .ben_sort {
        margin: 0 197px 34px;
    }
}
@media (max-width: 375px){
    .product_card{
        min-height: 624px;
    }    
    .product_card_photo{
        max-width: 281px;
    }
    .ben_sort{
        margin: 0 5px 64px;
    }
}